<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<h1>Welcome</h1>
<div id="page">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-md">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/practise4" class="nav-link active" style="color:cornflowerblue;">Add</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/practise5" class="nav-link" style="color:cornflowerblue;">Display</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>



<router-outlet>

</router-outlet>