#body_1{
    background-color: lightgrey;
}

img{
    height: 200;
    width: 250;
}
#div_1{
    background-color: cadetblue
}
#div_2{
    background-color: darkgray
}
#div_3{
    background-color: rgb(122, 153, 150)
}
#div_4{
    background-color: rgb(94, 63, 114)
}
#div_5{
    background-color: rgb(45, 104, 86)
}
