<!DOCTYPE html>
<html>
<head>
  <title>Employee Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="">
  <br>
  <!--interpolation {{}} binding the annotations created in .ts of child...........-->
  <input type="radio" name="total" value="total">Total :{{total}}<br>
  <input type="radio" name="gender" value="female"> Female :{{female}}<br>
  <input type="radio" name="gender" value="male"> Male :{{male}}<br>
  <button class="btn btn-primary" (click)='getCount1()'>Name</button>
  <p>Name :{{count1}}</p>
  </form>
  </body>
  <!--
this method is for output decoration
  <body>
    <form action="">
      <br>
      <interpolation {{}} binding the annotations created in .ts of child...........
      <input type="radio" name="total" value="total" [(ngModel)]='selectedEmployee' (change)='OnSelectionRadioButton()'/>
      <input type="radio" name="gender" value="female" [(ngModel)]='selectedEmployee' (change)='OnSelectionRadioButton()'/> 
      <input type="radio" name="gender" value="male" [(ngModel)]='selectedEmployee' (change)='OnSelectionRadioButton()'/> 
      </form>
      </body>--->
  </html>


